/* App.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #333;
  background-color: #f4f4f4;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
